---
layout: archive
permalink: /blog/
title: "Blog"
author_profile: true
redirect_from:
  - /year-archive/
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_group %}'None'{% endcapture %}
{% for post in site.posts %}
  {% if post.categories.size > 0 %}
    {% assign group_label = post.categories | first %}
  {% else %}
    {% assign group_label = post.date | date: '%Y' %}
  {% endif %}
  {% if group_label != written_group %}
    <h2 id="{{ group_label | slugify }}" class="archive__subtitle">{{ group_label }}</h2>
    {% capture written_group %}{{ group_label }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
